{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock%}
{%load crispy_forms_tags %} 
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-block" value="Create Post">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for post in page.object_list %}
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{post.author.profilemodel.image.url}}" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small><i>Date post: {{ post.created_at }}</i> </small>
                            <br>
                            <small><i>Last update: {{ post.updated_at }}</i></small>
                            <hr>
                            <a class="h3" href="{% url 'blog-post-detail' post.id %}">{{ post.title }}</a>
                            <p class="text-justify my-3">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <div class="footer">
        <div class="row my-5">
            <div class="col-md-4 offset-md-4">
                <p class="text-center">Page: {{ page.number }}/{{ page.paginator.num_pages }}</p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        
                        <!-- Nút '<<' về trang đầu -->
                        {% if page.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo;&laquo;</a>
                        </li>
                        {% endif %}
            
                        <!-- Nút '<' về trang trước -->
                        {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
            
                        <!-- Hiển thị số trang (Giới hạn 5 trang xung quanh trang hiện tại) -->
                        {% with start=page.number|add:"-2" end=page.number|add:"2" %}
                            {% for num_page in page.paginator.page_range %}
                                {% if num_page >= start and num_page <= end %}
                                <li class="page-item {% if page.number == num_page %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
            
                        <!-- Nút '>' đến trang sau -->
                        {% if page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
            
                        <!-- Nút '>>' đến trang cuối -->
                        {% if page.number < page.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;&raquo;</a>
                        </li>
                        {% endif %}
            
                    </ul>
                </nav>
            </div>            
            
        </div>
    </div>
</div>

{% endblock %}

